#=========================== Filebeat prospectors =============================

filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

- type: log

  enabled: true
   
  paths:
     - {{ solr_log_path }}
  fields:
       logsource: {{ solr_logsource }}
       machine_name: {{ solr_machine_name }}
       env_name: {{ solr_env_name }}
       role: {{ solr_role_name }}
  fields_under_root: true
#  clean_inactive: 1m
  exclude_lines: ['^INFO', 'commit{dir']
  
  multiline.pattern: '^ERROR'
  multiline.negate: true
  multiline.match: after  
  close_inactive: 10m
#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  hosts: ["{{ logstash_ip }}"]

